*{
    text-decoration: none;
    margin: 0;    
}
body{
     background-color: #242f49;  
     overflow-x: hidden;
    }
.header_part{
     background: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    margin-left: 180px;
    top: 3px;
    border-radius: 10px;
    /* for navigation bar overlapping the dropdown bar issue */
    z-index: 1000;    
}

.header_part:hover{
    transform: scale(1.01);
}
.logo img{
    width: 125px;
    height: 105px;
    transition:   2s;
}

.logo img:hover{
    width: 128px;
}    
.nav_links_headBar li a:hover{
    background-color: rgba(255, 215, 0, 1);
    color: black;
}
.DropDownContent_head1{
    display: none;
    position: absolute;
    background-color: #000000;
    top: 100%;
    left: 0;
    min-width: 100px;
    box-shadow:   rgba(0, 0,0, 0.3); 
}
.dropDown1:hover .DropDownContent_head1{
    display: block;
    margin-left: 10px;
}
.DropDownContent_head1 a{
    /* padding: 25px; */
    display: block;
}
.nav_links_headBar li{
    position: relative;
    padding: 10px;
}

.nav_links_headBar li:hover{
    transform: scale(1.11);

}
.nav_links_headBar{
    list-style: none;
    display: flex;
    gap: 100px;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_links_headBar a{
    text-decoration: none;
    padding: 10px 18px;
    display:block;
    color: white;
    font-size: 16px;
    transition: color 0.2s;
 }
 label img{
    width:20px;
    border-radius: 10px;
    margin-left: -25px;
     margin-top: -10px;
    background-color: white;
    position: fixed;
    position: absolute;
 } 
input{
    padding: 5px 5px;
    width: 250px;
    border-radius: 70px;
    border: 3px solid white;
    box-sizing: border-box;
   background-repeat: no-repeat;
   font-size: 16px;
   margin-left: 115px;
   transform: translate((-50%,50%));
   background: transparent;
   transition: all 0.5s;
   box-shadow: 10px 10px 10px    rgb(0, 0, 0),10px 14px 20px  rgb(8, 8, 8);
}

input[type="search"]{
    background-color: rgb(255, 255, 255);
    padding-left:7px;

}     
.input::placeholder{
    color: rgb(0, 0, 0);
     opacity: 1;
    transition:  180ms ease-out;
} 
.input:focus::placeholder{
    opacity: 1;
}    
input:hover{
    box-shadow: 4px 4px 4px  rgba(255, 215, 0, 1),10px 11px 10px  rgba(255, 215, 0, 1); 
}
input:focus,input:not(:placeholder-shown){
    width: 200px;
    box-shadow: 0 4px 4px   rgba(255, 215, 0, 1),0 10px 10px  rgba(255, 215, 0, 1);  

}

li .active{
    background-color:rgba(255, 215, 0, 1);
    color: #000000;
    font-weight: bold;
    border: 2px solid black;
}

.profile img{
    width:35px;
    border-radius: 100px;
    height: 35px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 72px;
}
.filterIcon img{
    width: 40px;
    margin-left: 1450px;
    margin-top: 95px;
      
 }
.filterButton{
    cursor: pointer;
    width: 40px;
} 

.filterArea{
    right: -100%;
    position: fixed;
    top: 71px;
    width: 300px;
    height: 100vh;
    background: black;
    color: white;
    padding: 30px 20px;
    transition: 0.2s;
    overflow-y: auto    ;
    z-index: 1000; 
    border-radius: 20px;   

}
.filterArea.active{
    right: 0;
}
.FilterPageLink{
    margin-bottom: 50px;
    border-bottom: 3px solid rgb(248, 248, 250);
    padding-bottom: 50px;
     font-size: 20px;
    font-weight: bold;
}
.FilterPageLink a {
    padding-top: 80px;
    color: white;
}
.FilterPageLink a:hover{
    color: yellow;
}
.FilterPageLink h3 {
    padding-top: 80px;
 }
.closeFilterButton{
    position: absolute;
    top: 20px;
    color: whitesmoke;
    font-size: 35px;
    cursor: pointer;
    border: none;
    right: 20px;
    background: none;

}
.closeFilterButton:hover{
    color: red;
}

.side_bar{
    box-sizing: border-box;
    position: fixed;
    width: 125px;
    position: fixed;
    height: 1000%;
    background-color:#000000 ;
    transition:   2s;
    top: 0px;
}
.side_bar:hover{
    width: 138px;
}  

.nav_links_side  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 0.1px;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    
}

.nav_links_side a{
    display: block;
    padding: 18px;
    background-color: #8c89892a;
    display: flex;
    margin: 69px -0.1px;
    color: white;
    text-decoration:wavy;
    font-size: 16px;
    white-space: nowrap;
    font-weight: bold;

} 
.nav_links_side a:hover{
    background-color:  rgba(255, 215, 0,1);
    color: black;
    width: auto;
    border-radius: 40px;
    text-align: center;
}



.VideoSideshowing_Content {
    width: 1120px;
    height: 450px;
    margin-left: 257px;
    /* margin-top: 85px; */
    margin-top: -45px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow:10px 4px 9px rgb(0, 0, 0); 
 
}
 
.images:first-of-type {
    display: block; /* Show the first image initially */
}

.previous_slide , .next_slide{
    cursor: pointer;
    position: absolute;
    width: 70px;
    margin-top: -322px;
    font-size: 12px;
   
}

.next_slide{
    top: 600px;
    left: 1253px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
     color: white;
}
.previous_slide{
    
    top: 600px;
    padding-left: -20px;
    padding-right: 85px;
    padding-top: 4px;
    padding-bottom: 21px;
    left: 265px;
     color: white;
}


 .rowimages   {
    display: flex;
     flex-wrap: wrap  ;
     gap: 0;
     
}
.FilmImg  {
    /* margin: 150px; */
    height:  150px;
    width: 120px;
    margin: 1px  ;
    background-color: transparent;
    perspective: 1200px;
    display: flex;
    margin-bottom: 250px; 
    margin-left: 165px;
   
}
.card_inner{
    border-radius: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    /* transition: transform 0.6s linear mean it flip slowly; */
    transition: transform 0.6s linear;

    transform-style: preserve-3d;
    transform: translateZ(0);
}
.FilmImg:hover .card_inner{
    transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    border-radius: 5px;
}

.front{
    background-color: #000000;
    color: brown;
}

.back{
    height:  300px;
    margin-right: 165px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.back span{
    font-weight:bolder;

}

.back button{
    padding: 12px 22px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back button:hover{
    background-color: blue;
    color: #000000;
    font-weight: bold;

}

.FilmImg img{
    background-color: white;
    color: black;
    width: 175px;
    height: 235px;
    border-bottom: 59px solid rgb(0, 0, 0);
    border-top: 0;
    margin: 0px;
     border-radius: 5px;
    
  }

.imgName{
    font-weight: bold;
    margin-top: -59px;
    margin-left:45px;
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
     
 }

.stars{
    margin-left: 39px;
    align-items: center;
} 

.head1  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    background-color:  rgb(255, 255, 253);
    margin-left: 590px;
    margin-right: 590px;
    padding-top: 10PX;
    padding-bottom: 10PX;
    border-radius: 30px;
      transition : 0.9s  ease-in-out;
     text-align: center;
}
.head1:hover{
    background-color: red;
    margin-left: 65px;
    margin-right:65px;
    transform: translateX(60px);
     
} 
 
.head2  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    background-color:  rgb(255, 255, 253);
    margin-left: 590px;
    margin-right: 590px;
    padding-top: 10PX;
    padding-bottom: 10PX;
    border-radius: 30px;
    transition : 0.9s  ease-in-out;
    text-align: center;    
 }
 .head2:hover{
    background-color: red;
    margin-left: 65px;
    margin-right:65px;
    transform: translateX(60px);
     
} 
.head3  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    background-color: rgb(255, 255, 253);
    margin-left: 590px;
    margin-right: 590px;
    padding-top: 10PX;
    transition : 0.9s  ease-in-out;
     padding-bottom: 10PX;
    border-radius: 30px;
      text-align: center;
 }
 .head3:hover{
    background-color: red;
    margin-left: 65px;
    margin-right:65px;
    transform: translateX(60px);
     
} 

.head4  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    background-color:rgb(255, 255, 253);
    margin-left: 590px;
    margin-right: 590px;
    padding-top: 10PX;
    padding-bottom: 10PX;
    transition : 0.9s  ease-in-out;
    border-radius: 30px;
    text-align: center;
 }
 .head4:hover{
    background-color: red;
    margin-left: 65px;
    margin-right:65px;
    transform: translateX(60px);
     
} 


 .rowimages2   {
    display: flex;
     flex-wrap: wrap  ;
     gap: 0;
     
}
 .FilmImg2 {
    margin: 100px;
    height:  100px;
    width: 120px;
    margin: 5px  ;
    background-color: transparent;
    perspective: 1200px;
    display: flex;
    margin-bottom: 250px; 
    margin-left: 165px;
}
.card_inner2{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s linear;
    transform-style: preserve-3d;
    transform: translateZ(0);
}

.FilmImg2:hover .card_inner2{
    transform: rotateY(180deg);
}

.front2, .back2{
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
 }

.front2{
    background-color: #000000;
    color: brown;
}

.back2{
      height:  300px;
     margin-right: 165px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back2 span{
    font-weight:bolder;

}

.back2 button{
    padding: 12px 22px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back2 button:hover{
    background-color: blue;
    color: #000000;
    font-weight: bold;

}

.FilmImg2 img{
    background-color: white;
    color: black;
    width: 175px;
    height: 235px ;
    border-bottom: 59px solid rgb(0, 0, 0);
    border-top: 0;
    margin: 0px;
     pointer-events: none;
 
  }

.imgName2{
    font-weight: bold;
    margin-top: -40px;
    margin-left:46px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
}
.FilmImg3 img{
    background-color: white;
    color: black;
    width: 175px;
    height: 235px ;
    border-bottom: 59px solid rgb(0, 0, 0);
    border-top: 0;
    margin: 0px;
    pointer-events: none;
 
}

.imgName3{
    font-weight: bold;
    margin-top: -50px;
    margin-left:40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
 }
.rowimages3   {
        display: flex;
        flex-wrap: wrap  ;
        gap: 0;
}
.FilmImg3  {
    margin: 100px;
    height:  100px;
    width: 120px;
    margin: 5px  ;
    background-color: transparent;
    perspective: 1200px;
    display: flex;
    margin-bottom: 250px; 
    margin-left: 165px;
}
.card_inner3{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s linear;
    transform-style: preserve-3d;
    transform: translateZ(0);
} 
.FilmImg3:hover .card_inner3{
    transform: rotateY(180deg);
}
    
.front3, .back3{
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
 }
    
.front3{
    background-color: #000000;
    color: brown;
}
    
.back3{
    font-weight: bold;
    height:  300px;
    margin-right: 165px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back3 span{
    font-weight:bolder; 
}
    
.back3 button{
    padding: 12px 22px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
    
.back3 button:hover{
    background-color: blue;
    color: #000000;
    font-weight: bold;
}
    
.FilmImg3 img{
    background-color: white;
    color: black;
    width: 175px;
    height: 235px ;
    border-bottom: 59px solid rgb(0, 0, 0);
    border-top: 0;
    margin: 0px;
    pointer-events: none;
}  
.imgName3{
    font-weight: bold;
    margin-top: -50px;
    margin-left:40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
}
    
.rowimages4  {
    display: flex;
    flex-wrap: wrap  ;
    gap: 50px;
         
}
.FilmImg4 {
    margin: 100px;
    height:  100px;
    width: 120px;
    margin: 5px  ;
    background-color: transparent;
    perspective: 1200px;
    display: flex;
    margin-bottom: 250px; 
    margin-left: 185px;
}
.card_inner4{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:  0.6s linear;
    transform-style: preserve-3d;
    transform: translateZ(0);
}
    
.FilmImg4:hover .card_inner4{
    transform: rotateY(180deg);
}
    
.front4, .back4{
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    border-radius: 14px;
}
    
.front4{
    background-color: #000000;
    color: brown;
}
    
.back4{
    height:  300px;
    width: 173px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back4 span{
    font-weight:bolder; 
}
    
.back4 button{
    padding: 12px 22px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
    
.back4 button:hover{
    background-color: blue;
    color: #000000;
    font-weight: bold;

}
    
.FilmImg4 img{
    background-color: white;
    color: black;
    width: 205px;
    height: 235px ;
    border-bottom: 59px solid rgb(0, 0, 0);
    border-top: 0;
    margin: 0px;
    pointer-events: none;
 
}
.imgName4{
    font-weight: bold;
    margin-top: -40px;
    margin-left:46px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
}
    
footer{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    margin: 0;
    font-size: 20px;

 

}
 .firstRow1{
    margin-right: 300px;
    margin-bottom: -28px;
    
   
}
.firstRow2{
    margin-right: -90px;
    margin-top: 7px;
    
  
}
.firstRow3{
    margin-right: -490px;
    margin-top: -23px;
}

.firstRow4{
    margin-left:95px;
    color: white;
    
}

footer span a{
    color: #ffffff;
    text-decoration: underline;
}

footer img{
    width: 40px;
    border-radius: 500px;
    padding: 15px;
      
 }
 footer img:hover{
    transform: scale(1.2);

}
.socialIcon{
    margin-left: 84px;
}
.stars{
    /* color: white; */
    color: yellow;
}
.mufasaSpan{
    margin-left: 9px;
}  


.span1{
    margin-left: 16px;
}
.span2{
    margin-left: 23px;
}

.span3{
    margin-left: -10px;
}
.oneone{
    margin-left: -10px;

}
.twotwo{
    margin-left: 16px;
}
.span3l{
    margin-left: 4px;
}
.span4{
    margin-left: -7px;
}
.span5{
    margin-left: 24px;
}
.span6{
    margin-left: 30px;
}
.span7{
    margin-left: 15px;
}
.span8{
    margin-left: 14px;
}
.span9{
    margin-left: 6px;
}
.span10{
    margin-left: 14px;
}
.span11{
    margin-left: 25px;
}
.span12{
    margin-left: 16px;
}
.span13{
    margin-left: 25px;
}
.span14{
    margin-left: 21px;
}
.span15{
    margin-left: 26px;
}
.incep{
    margin-left: 16px;
}
.span16{
    margin-left: 14px;
}
.span17{
    margin-left: 22px;
}
.span18{
    margin-left: 23px;
}
.span19{
    margin-left: 18px;
}
.span20{
    margin-left: 26px;
}
.span21{
    margin-left: 27px;
}
.span22{
    margin-left: 31px;
}
.span23{
    margin-left: -15px;
}
.span24{
    margin-left: -25px;
}
.span25{
    margin-left: -3px;
}
.span26{
    margin-left: 8px;
}
.span27{
    margin-left: 8px;
}
.span28{
    margin-left: -4px;
}
.span29{
    margin-left: -15px;
}
.span30{
    margin-left: -12px;
}
.span31{
    margin-left: 5px;
}
.span311{
    margin-left: 16px;
}
.span32{
    margin-left: 14px;
}
.span33{
    margin-left: 14px;
}
.span34{
    margin-left: 17px;
}
.span35{
    margin-left:-8px;
}
.span36{
    margin-left:-11px;
}
.span37{
    margin-left:-6px;
}
.amsterdam{
    margin-left: -8px;
}