*{
    text-decoration: none;
    margin: 0;    
}
body{
    overflow-x: hidden;
     background-color: #242f49;  

}
.header_part{
    background: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    margin-left: 185px;
    top: 3px;
    border-radius: 10px;
    /* for navigation bar overlapping the dropdown bar issue */
    z-index: 1000;    
     
    
}
label img{
    width:20px;
    border-radius: 10px;
    margin-left: -25px;
     margin-top: -10px;
    background-color: white;
    position: fixed;
    /* position: absolute; */
     
 }

.header_part:hover{
    transform: scale(1.01);
}

.logo img{
    width: 125px;
    height: 105px;
    transition:   2s;
  }

  .logo img:hover{
    width: 128px;
}    


.nav_links_headBar li a:hover{
    background-color: rgba(255, 215, 0, 1);
    color: black;
}
 


.DropDownContent_head1{
    display: none;
    position: absolute;
    background-color: #000000;
    top: 100%;
    left: 0;
    min-width: 100px;
    box-shadow:   rgba(0, 0,0, 0.3);
    
}
 
.dropDown1:hover .DropDownContent_head1{
    display: block;
    margin-left: 10px;

}

.DropDownContent_head1 a{
    padding: 10px;
    display: block;
}
 
.nav_links_headBar li{
    position: relative;
    padding: 10px;  
}

.nav_links_headBar li:hover{
    transform: scale(1.11);

}
.nav_links_headBar{
    list-style: none;
    display: flex;
    gap: 100px;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_links_headBar a{
    text-decoration: none;
    padding: 10px 19px;
    display:block;
    color: white;
    font-size: 16px;
    transition: color 0.2s;
 }
.input1{
    padding: 5px 5px;
    width: 250px;
    border-radius: 70px;
    border: 3px solid white;
    box-sizing: border-box;
   background-repeat: no-repeat;
   font-size: 16px;
   margin-left: 115px;
   transform: translate((-50%,50%));
   background: transparent;
   transition: all 0.5s;
   box-shadow: 10px 10px 10px    rgb(0, 0, 0),10px 14px 20px  rgb(8, 8, 8);
     }

.input1[type="search"]{
    background-color: rgb(255, 255, 255);
    padding-left:07px;   
}     
.input1::placeholder{
    color: rgb(0, 0, 0);
    /* background-color: white; */
    opacity: 1;
    transition:   180ms ease-out;
} 
.input1:focus::placeholder{
    opacity: 1;
}    
.input1:hover{
    box-shadow: 4px 4px 4px  rgba(255, 215, 0, 1),10px 11px 10px  rgba(255, 215, 0, 1); 
}
.input1:focus,  .input1:not(:placeholder-shown){
    width: 200px;
    box-shadow: 0 4px 4px   rgba(255, 215, 0, 1),0 10px 10px  rgba(255, 215, 0, 1); 

}

.profile img{
    width:35px;
    border-radius: 100px;
    height: 35px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.side_bar{
    box-sizing: border-box;
    position: fixed;
    width: 130px;
    position: fixed;
    height: 100%;
     background-color:#000000 ;
    transition:   2s;
    top: 0px;
}
.side_bar:hover{
    width: 138px;
 }  


.nav_links_side  {
 
       font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 0.1px;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
}

.nav_links_side a{
    display: block;
    padding: 19px;
    background-color: #8c89892a;
    display: flex;
    margin: 71px 0.09px;
    color: white;
    text-decoration:wavy;
    font-size: 14px;
    white-space: nowrap;
    font-weight: bold;

} 
.nav_links_side a:hover{
    background-color: rgba(255, 215, 0, 1);
    color: black;
    width: auto;
    border-radius: 40px;
    text-align: center;
}

.LeftSide{
    width: 81%;
    /* padding: 800px; */
    height: 100px;
    background-color: rgb(171, 200, 162);
    padding: 15px;
    border-radius: 10px;
    margin-top: 110px;
    margin-left: 195px;
}
 
.filterSection1{
    background-color: white;
    padding: 21px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 2px 15px black;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.p1{
    margin: 0 0 15px 0;
    color: black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
}

.filterControl{
    gap: 4px;
    align-items: center;
    display: inline-block;
}

.selectLocation{
    width: 225px;
    border-radius:6px ;
    border: 1px solid white;
    padding:13px 22px ;
    margin-left: 340px;
    text-align: center;

      
}
.selectSpace{
    width: 225px;
    border-radius:6px ;
    border: 1px solid white;
    padding:13px 22px ;
    margin-left:5px;
    text-align: center;
      
}
/* select{
    margin-left: 150px;
} */


button{
    background-color: #000000;
    color:white;
    border:none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    padding:11px 23px ;
    font-weight: bold;
    font-size: 17px;
}
button:hover{
    background-color: #0056b3;
}

.rowimages4  {
    display: flex;
    flex-wrap: wrap  ;
    gap: 50px;
         
}
.FilmImg4 {
    margin: 100px;
    height:  100px;
    width: 120px;
    margin: 5px  ;
    background-color: transparent;
    perspective: 1200px;
    display: flex;
    margin-bottom: 250px; 
    margin-left: 100px;
}
.card_inner4{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s linear;
    transform-style: preserve-3d;
    transform: translateZ(0);
}
    
.FilmImg4:hover .card_inner4{
    transform: rotateY(180deg);
}
    
.front4, .back4{
    position: absolute;
    width: 100px;
    height: 100px;
    backface-visibility: hidden;
    border-radius: 14px;
}
    
.front4{
    background-color: #000000;
    color: brown;
}
    
.back4{
    height:  300px;
    width: 173px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back4 span{
    font-weight:bolder; 
}
    
.back4 button{
    padding: 12px 22px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
    
.back4 button:hover{
    background-color: blue;
    color: #000000;
    font-weight: bold;

}
    
.FilmImg4 img{
    background-color: white;
    color: black;
    width: 205px;
    height: 235px ;
    border-bottom: 59px solid rgb(0, 0, 0);
    border-top: 0;
    margin: 0px;
    pointer-events: none;
    border-radius: 15px;

}
.imgName4{
    font-weight: bold;
    margin-top: -40px;
    margin-left:46px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
}

 
.socialIcon{
    margin-left: -18px;
}
 
footer{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    margin: 0;
    font-size: 20px;

 

}
 .firstRow1{
    margin-right: 300px;
    margin-bottom: -28px;
    
   
}
.firstRow2{
    margin-right: -90px;
    margin-top: 7px;
    
  
}
.firstRow3{
    margin-right: -490px;
    margin-top: -23px;
}

.firstRow4{
    margin-left:95px;
    color: white;
    
}

footer span a{
    color: #ffffff;
    text-decoration: underline;
}

footer img{
    width: 40px;
    border-radius: 500px;
    padding: 15px;
      
 }
 footer img:hover{
    transform: scale(1.2);

}
.socialIcon{
    margin-left: 84px;
}

