*{
    text-decoration: none;
    margin: 0;    
}
body{
    overflow-x: hidden;
     background-color: #242f49;  

}
.header_part{
     background: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    margin-left: 178px;
    top: 3px;
    border-radius: 10px;
    /* for navigation bar overlapping the dropdown bar issue */
    z-index: 1000;
     
    
}
li .active{
    background-color:rgba(255, 215, 0, 1);
    color: #000000;
    font-weight: bold;
 
}
label img{
    width:20px;
    border-radius: 10px;
    margin-left: -25px;
     margin-top: -10px;
    background-color: white;
    position: fixed;
    /* position: absolute; */
     
 }

.header_part:hover{
    transform: scale(1.01);
}

.logo img{
    width: 125px;
    height: 105px;
    transition:   2s;
  }

  .logo img:hover{
    width: 128px;
}    


.nav_links_headBar li a:hover{
    background-color: rgba(255, 215, 0, 1);
    color: black;
}
 


.DropDownContent_head1{
    display: none;
    position: absolute;
    background-color: #000000;
    top: 100%;
    left: 0;
    min-width: 100px;
    box-shadow:   rgba(0, 0,0, 0.3);
    
}
 
.dropDown1:hover .DropDownContent_head1{
    display: block;
    margin-left: 10px;
}

.DropDownContent_head1 a{
    /* padding: 10px; */
    display: block;
}
 
.nav_links_headBar li{
    position: relative;
    padding: 10px;  
}

.nav_links_headBar li:hover{
    transform: scale(1.11);

}
.nav_links_headBar{
    list-style: none;
    display: flex;
    gap: 100px;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_links_headBar a{
    text-decoration: none;
    padding: 10px 18px;
    display:block;
    color: white;
    font-size: 16px;
    transition: color 0.2s;
 }
.input1{
    padding: 5px 5px;
    width: 250px;
    border-radius: 70px;
    border: 3px solid white;
    box-sizing: border-box;
   background-repeat: no-repeat;
   font-size: 16px;
   margin-left: 115px;
   transform: translate((-50%,50%));
   background: transparent;
   transition: all 0.5s;
   box-shadow: 10px 10px 10px    rgb(0, 0, 0),10px 14px 20px  rgb(8, 8, 8);
     }

.input1[type="search"]{
    background-color: rgb(255, 255, 255);
    padding-left:07px;   
}     
.input1::placeholder{
    color: rgb(0, 0, 0);
    /* background-color: white; */
    opacity: 1;
    transition:   180ms ease-out;
} 
.input1:focus::placeholder{
    opacity: 1;
}    
.input1:hover{
    box-shadow: 4px 4px 4px  rgba(255, 215, 0, 1),10px 11px 10px  rgba(255, 215, 0, 1); 
}
.input1:focus,  .input1:not(:placeholder-shown){
    width: 200px;
    box-shadow: 0 4px 4px   rgba(255, 215, 0, 1),0 10px 10px  rgba(255, 215, 0, 1); 

}

.profile img{
    width:35px;
    border-radius: 100px;
    height: 35px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 72px;
}
.side_bar{
    box-sizing: border-box;
    position: fixed;
    width: 110px;
    position: fixed;
    height: 100%;
     background-color:#000000 ;
    transition:   2s;
    top: 0px;
}
.side_bar:hover{
    width: 138px;
 }  


 .side_bar{
    box-sizing: border-box;
    position: fixed;
    width: 125px;
    position: fixed;
    height: 1000%;
    background-color:#000000 ;
    transition:   2s;
    top: 0px;
}
.side_bar:hover{
    width: 138px;
}  

.nav_links_side  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 0.1px;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    
}

.nav_links_side a{
    display: block;
    padding: 18px;
    background-color: #8c89892a;
    display: flex;
    margin: 69px -0.1px;
    color: white;
    text-decoration:wavy;
    font-size: 16px;
    white-space: nowrap;
    font-weight: bold;

} 
.nav_links_side a:hover{
    background-color:  rgba(255, 215, 0,1);
    color: black;
    width: auto;
    border-radius: 40px;
    text-align: center;
}

 
.firstAppearance{
    width: 85%;
    height: 600px;
    background: linear-gradient(45deg,#0f2027,#203a43,#2b4753);
    padding: 10px;
    border-radius: 10px;
    margin-top: 105px;
    margin-left: 164px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
 }
 
.firstAppearance img:hover{
    transform: scale(1.1);
}




.pic1{
    border-radius: 50%;
    width:70px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 145px;
}
.pic2{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 50px;
}
.pic3{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 65px;
}
.pic4{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 65px;
}
.pic5{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 25px;
}
.pic6{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 25px;
}
 .firstimg{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-top: 70px;
    border-radius: 20px;
}
.firstp1{
    font-weight: bold;
    margin-left: 430px;
    margin-top: -440px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.firstp1span{
    font-size: 16px;
    color: grey;
 }

.firstp2{
    font-weight: bold;
    margin-left: 492px;
    margin-top: 85px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-right: 706px;
}
 
.firstp3{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 608px;
    margin-right: 570px;
 }
 
.firstp4{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 746px;
    margin-right: 440px;
 }
.firstp5{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 886px;
    margin-right: 330px;
 }
 
.firstp6{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 1015px;
    margin-right: 185px;
 }
.firstp7{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 1135px;
    margin-right: 38px;
 }
 
.firstp8{
    font-weight: bold;
     margin-top: 47px;
    font-size: 21px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-left: 435px;
    margin-right: 38px;
 }
 
.firstp9{
    font-weight: bold;
     margin-top: 37px;
    font-size: 21px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-left: 435px;
    margin-right: 34px;
 }

 .firstp10sp{
    font-weight: bold;
    margin-left: 430px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.sp1 ,.sp11{
    font-weight: bold;
    margin-left: 430px;
     font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.sp2 ,.sp22{
    font-weight: bold;
    margin-left: 430px;
     font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.sp3 ,.sp33{
    font-weight: bold;
    margin-left: 430px;
     font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.sp4 ,.sp44{
    font-weight: bold;
    margin-left: 430px;
     font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.sp33{
    margin-left: 193px;
}

.sp22{
    margin-left: 259px;
    background-color: rgb(226, 212, 15);

}
.sp44{
    margin-left: 371px;
    background-color: rgb(226, 212, 15);
}
.sp2,.sp4{
    background-color: rgb(226, 212, 15);

}
 

 .animation1{
    opacity: 2;
    transform: translateY(0);
    transition-delay: 0.2s;
}
.ft1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 20px;
}

/* .ft1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    font-weight: bold;
    background-color: burlywood;
    border-radius: 20px;
} */
.pic1{
    border-radius: 50%;
    width:70px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 145px;
}
.pic2{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 50px;
}
.pic3{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 65px;
}
.pic4{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 65px;
}
.pic5{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 25px;
}
.pic6{
    border-radius: 90%;
    width:63px;
    height: 70px;
    margin-bottom: 320px;
    margin-left: 25px;
}
 .firstimg{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    margin-top: 70px;
    border-radius: 20px;
}
.firstp1{
    font-weight: bold;
    margin-left: 430px;
    margin-top: -440px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color:#f8eeee;
}
.firstp1span{
    font-size: 16px;
    color: grey;
 }

.firstp2{
    font-weight: bold;
    margin-left: 492px;
    margin-top: 85px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-right: 706px;
    color: #000000;

}
.firstp3{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 608px;
    margin-right: 570px;
    color: #000000;

 }
 
.firstp4{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 746px;
    color: #000000;

    margin-right: 440px;
 }
.firstp5{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 886px;
    margin-right: 330px;
    color: #000000;

 }
 
.firstp6{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 1015px;
    color: #000000;

    margin-right: 185px;
 }
.firstp7{
    font-weight: bold;
     margin-top: -17px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 212, 15);
    margin-left: 1135px;
    margin-right: 38px;
    color: #000000;
 }
 
.firstp8{
    font-weight: bold;
     margin-top: 47px;
    font-size: 21px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-left: 435px;
    margin-right: 38px;
    color:#f8eeee;
 }
 
.firstp9{
    font-weight: bold;
     margin-top: 37px;
    font-size: 21px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-left: 435px;
    margin-right: 34px;
    color:#f8eeee;
 }

 .firstp10sp{
    font-weight: bold;
    margin-left: 430px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color:#f8eeee;
}
.sp1 ,.sp11{
    font-weight: bold;
    margin-left: 430px;
     font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#f8eeee;
}
.sp2 ,.sp22{
    font-weight: bold;
    margin-left: 430px;
     font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;

}
.sp3 ,.sp33{
    font-weight: bold;
    margin-left: 430px;
     font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#f8eeee;

}
.sp4 ,.sp44{
    font-weight: bold;
    margin-left: 430px;
     font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.sp33{
    margin-left: 193px;
}

.sp22{
    margin-left: 259px;
    background-color: rgb(226, 212, 15);

}
.sp44{
    margin-left: 371px;
    background-color: rgb(226, 212, 15);
}
.sp2,.sp4{
    background-color: rgb(226, 212, 15);

}
 

.background{
    color:#f8eeee;
}































footer{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    margin: 0;
    font-size: 20px;

 

}
 .firstRow1{
    margin-right: 300px;
    margin-bottom: -28px;
    
   
}
.firstRow2{
    margin-right: -90px;
    margin-top: 7px;
    
  
}
.firstRow3{
    margin-right: -490px;
    margin-top: -23px;
}

.firstRow4{
    margin-left:95px;
    color: white;
    
}

footer span a{
    color: #ffffff;
    text-decoration: underline;
}

footer img{
    width: 40px;
    border-radius: 500px;
    padding: 15px;
      
 }
 footer img:hover{
    transform: scale(1.2);

}
.socialIcon{
    margin-left: 84px;
}